.Dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  &__middle-panel-1 {
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    background-color: green;
  }

  &__middle-panel-2 {
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 50% 25%;
  background-color: plum;
}
  &__right-panel-1 {
      height: 100vh;
      display: grid;
      grid-template-rows: 25% 50% 25%;
      background-color: turquoise;
  }
  &__right-panel-2 {
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 50% 25%;
  background-color: yellow;
}
}
